/*----------------------------------------------------------------------------*/
/*----------------------------- Global Styling -------------------------------*/
/*----------------------------------------------------------------------------*/
:root {
  --primary-color: #fff;
  --secondary-color: #262626;
  --third-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Tahoma", "Verdana", sans-serif;
  background: var(--primary-color);
  color: var(--third-color);
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/*----------------------------------------------------------------------------*/
/*------------------------------- Navigation ---------------------------------*/
/*----------------------------------------------------------------------------*/
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  font-size: 0.8rem;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  padding-bottom: 0.4rem;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid var(--secondary-color);
}

.main-nav .main-menu {
  flex: 1;
  margin-left: 20px;
}

.main-nav .logo {
  width: 110px;
}

/*----------------------------------------------------------------------------*/
/*--------------------------------- Button -----------------------------------*/
/*----------------------------------------------------------------------------*/

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
}

.btn:hover {
  opacity: 0.9;
}
